.kentaurus-helpful {
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 30px auto;
    max-width: 550px;

}

.kentaurus-helpful span {
    -webkit-transition: background-color 200ms, box-shadow 200ms;
    transition: background-color 200ms, box-shadow 200ms;
}


.helpful-title {
    margin-bottom: 15px;
    font-size: 20px;
}

.helpful-yes-no {
    display: flex;
    text-align: center;
    justify-content: center;
    width: 100%;
}

.helpful-yes-no span {
    flex:0 0 33%;
    padding: 0.4em 0.8em;
    border-radius: 0.2em;
    color: #1a73e8;
    cursor: pointer;
    font-size: 16px;
    color:#fff;
}

.helpful-yes-no span:first-child {
     background-color: #45c1bf;
}

.helpful-yes-no span:nth-child(2) {
    background-color: #fa8b8b;
}

.helpful-thank-you {
    display: none;
    text-align: center;
    font-weight: bold;
    font-size: 18px;
}

.helpful-results {
    font-size: 16px;
    margin-top: 10px;
}

.helpful-results span {
    font-weight: bold;
}

.helpful-yes-no span:first-child:hover {
    background-color: #338e8c;
}

.helpful-yes-no span:nth-child(2):hover {
    background-color: #b46464;
}

.helpful-yes-no span:active {
    background-color: #FFFFFF;
    -webkit-box-shadow: 0 0 6px 0px rgba(0, 0, 0, 0.5);
    -moz-box-shadow: 0 0 6px 0px rgba(0, 0, 0, 0.5);
    box-shadow: 0 0 6px 0px rgba(0, 0, 0, 0.5);
}

.helpful-yes-no span:first-child {
    margin-right: 0.4em;
}

.helpful-yes-no span:last-child {
    margin-left: 0.4em;
}

@media (max-width: 767px) {
    .kentaurus-helpful {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        padding: 20px;
    }

    .wthf-title {
        padding-right: 0;
        margin-bottom: 20px;
    }
}